<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="well">
      <h3>Resend confirmation instructions</h3>
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
